////////// Buttons //////////

// Default btn:

@mixin default-btn {
  @include flexCenter("");
  @include bluePositive;

  width: fit-content;
  height: 20px;
  padding: 15px;
  border: 1px solid grey;

  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px #a5a5a5;

  cursor: pointer;

  &:hover {
    @include blueNegative;
  }

  // default-btn media query //

  @include responsive(mobile) {
    @include flexCenter(column);
    height: 10px;
    margin: 5px 0;
    width: 100%;
  }
}

// Blue btn:

@mixin blue-btn {
  @include flexCenter("");
  @include blueNegative;

  width: fit-content;
  height: 25px;
  padding: 15px;
  border: 1px solid darken($primary-color, 10%);

  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px #a5a5a5;

  cursor: pointer;

  &:hover {
    background-color: lighten($primary-color, 10%);
  }

  // blue-btn media query //

  @include responsive(mobile) {
    margin: 5px 0;
    height: 10px;
    width: 100%;
  }
}

// Red btn:

@mixin red-btn {
  @include flexCenter("");
  @include redPositive;

  width: fit-content;
  height: 25px;
  padding: 15px;
  border: 1px solid darken($quaternary-color, 10%);

  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px #a5a5a5;

  cursor: pointer;

  &:hover {
    background-color: lighten($quaternary-color, 10%);
  }

  // red-btn media query //

  @include responsive(mobile) {
    @include flexCenter(column);
    margin: 5px 0;
    height: 10px;
    width: 100%;
  }
}

// Toggle left:

@mixin toggle-left {
  @include flexCenter("");
  @include bluePositive;

  width: 35px;
  height: 35px;
  padding: 10px;
  border: 1px solid grey;

  border-radius: 5px 0px 0px 5px;
  box-shadow: 0px 1px 2px 0px #a5a5a5;

  cursor: pointer;

  &:hover {
    background-color: darken($secondary-color, 10%);
  }

  // toggle-left media query //

  @include responsive(mobile) {
    height: 20px;
  }
}

// Toggle right:

@mixin toggle-right {
  @include flexCenter("");
  @include bluePositive;

  width: 35px;
  height: 35px;
  padding: 10px;
  border: 1px solid grey;

  border-radius: 0px 5px 5px 0px;
  box-shadow: 0px 1px 2px 0px #a5a5a5;

  cursor: pointer;

  &:hover {
    background-color: darken($secondary-color, 10%);
  }
  // toggle-right media query //

  @include responsive(mobile) {
    height: 20px;
  }
}

// Default dropdown

@mixin default-dropdown {
  @include flexCenter("");

  color: $tertiary-color;
  background-color: $secondary-color;

  font-family: $primary-font;
  font-weight: $semibold;
  font-size: 15px;

  width: fit-content;
  height: 57px;
  padding: 10px 50px 10px 10px;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px #a5a5a5;

  cursor: pointer;

  &:hover {
    background-color: darken($secondary-color, 10%);
  }

  // default-dropdown media query //

  @include responsive(mobile) {
    height: 42px;
  }
}

////////// Cards //////////

@mixin paper-card {
  @include flexCenter(column);
  width: 85vw;
  background-color: $secondary-color;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 0px #a5a5a5;
}
