@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
}

.learning-body {
  width: 80vw;
}

.learning-body .learning-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 15px;
}

.learning-body .learning-box .title,
.learning-body .learning-box .pupils-box {
  margin: 30px 0px;
}

.learning-body .learning-box .title {
  color: #252525;
  width: 30%;
}

.learning-body .learning-box .pupils-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 30%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.learning-body .learning-box .pupils-box .present-pupil,
.learning-body .learning-box .pupils-box .absent-pupil,
.learning-body .learning-box .pupils-box .default-pupil {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  margin: 2px;
}

.learning-body .learning-box .pupils-box .present-pupil {
  background-color: #28a8e4;
}

.learning-body .learning-box .pupils-box .absent-pupil {
  background-color: #ffdb39;
}

.learning-body .learning-box .pupils-box .default-pupil {
  background-color: lightblue;
}

.learning-body .learning-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 15%;
}

.learning-body .learning-box .btn-box .show-details-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  background-color: white;
  color: #28a8e4;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 20px;
  padding: 15px;
  border: 1px solid grey;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 2px 0px #a5a5a5;
          box-shadow: 0px 1px 2px 0px #a5a5a5;
  cursor: pointer;
}

.learning-body .learning-box .btn-box .show-details-btn:hover {
  background-color: #28a8e4;
  color: white;
}

@media only screen and (max-width: 544px) {
  .learning-body .learning-box .btn-box .show-details-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 10px;
    margin: 5px 0;
    width: 100%;
  }
}

@media only screen and (max-width: 544px) {
  .learning-body .learning-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .learning-body .learning-box .title,
  .learning-body .learning-box .pupils-box,
  .learning-body .learning-box .btn-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin: 7px 0px;
  }
}

.learning-body .divider {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 0;
  border-top: 0.5px solid #d1d1d1;
}

* {
  padding: 0;
  margin: 0;
}

.header-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 0;
  font-family: "Raleway";
}

.header-body .top-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #28a8e4;
  color: white;
  height: 25vh;
  width: 100vw;
  background-color: #28a8e4;
}

.header-body .top-box .navigation {
  font-size: 15px;
  font-weight: 600;
}

.header-body .top-box .navigation .link {
  text-decoration: none;
  color: white;
}

.header-body .top-box .navigation .link:hover {
  text-decoration: underline;
}

.header-body .top-box .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 40px;
  font-weight: 700;
  height: 50px;
}

.header-body .top-box .title .gift-icon {
  width: 40px;
  height: 40px;
  fill: white;
  padding-right: 8px;
}

@media only screen and (max-width: 544px) {
  .header-body .top-box {
    height: 18vh;
  }
  .header-body .top-box .title {
    font-size: 28px;
    height: 40px;
  }
  .header-body .top-box .title .gift-icon {
    width: 28px;
    height: 28px;
    padding-right: 3px;
  }
}

.header-body .bottom-box {
  background-color: whitesmoke;
  height: 75vh;
  width: 100vw;
}
/*# sourceMappingURL=main.css.map */