@import "../../scss/base";
@import "../../scss/components";
@import "../../scss/mediaQueries";

.learnings-list-body {
  @include paper-card;

  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: $primary-font;

  .navbar-box {
    @include flexCenter(row);
    justify-content: space-between;
    width: 80vw;
    margin: 30px 0;

    .left-box,
    .right-box {
      @include flexCenter(row);
    }

    .left-box {
      .toggle-box {
        @include flexCenter(row);

        .balls-btn {
          @include toggle-left;

          .balls-icon {
            width: 40px;
            height: 40px;
            fill: $tertiary-color;
          }
        }

        .user-btn {
          @include toggle-right;

          .user-icon {
            width: 30px;
            height: 30px;
            fill: $tertiary-color;
          }
        }
      }

      select {
        -webkit-appearance: none;
        background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='15' width='15' id='4277e692-56ed-4859-b091-d691c1a257d8' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><title>Down</title><path d='M27.78,9.51a2,2,0,0,0-2.85,0L16,18.45l-8.86-9a2,2,0,0,0-2.85,0,2,2,0,0,0,0,2.85L14.61,22.58a2,2,0,0,0,2.85,0L27.78,12.26a2,2,0,0,0,0-2.75Z'/></svg>");
        background-repeat: no-repeat;
        background-position-x: 90%;
        background-position-y: 50%;
      }

      .dropdown-menu {
        @include default-dropdown;
        margin-left: 10px;

        // dropdown-menu media query //
        @include responsive(mobile) {
          width: 65vw;
          margin-left: 5px;
        }
      }
      // left-box media query //
      @include responsive(mobile) {
        margin: 5px 0;
        justify-content: space-between;
        width: 100%;
      }
    }

    .right-box {
      .add-btn {
        @include blue-btn;
        .plus-icon {
          @include flexCenter(row);
          width: 20px;
          height: 20px;
          fill: $secondary-color;
          margin-left: 5px;
        }

        // add-btn media query //
        @include responsive(mobile) {
          flex-direction: row;
          width: 100%;
          margin: 5px;
          font-size: 15px;
          .plus-icon {
            width: 13px;
            height: 13px;
          }
        }
      }
      .update-btn {
        @include red-btn;
        margin-left: 10px;
        .refresh-icon {
          @include flexCenter(row);
          width: 20px;
          height: 20px;
          fill: $secondary-color;
          margin-left: 5px;
        }
        // update-btn media query //
        @include responsive(mobile) {
          flex-direction: row;
          width: 100%;
          margin: 5px;
          font-size: 15px;
          .refresh-icon {
            width: 15px;
            height: 15px;
          }
        }
      }

      // right-box media query //
      @include responsive(mobile) {
        flex-direction: column;
        font-size: 12px;
        margin: 5px 0;
        width: 90%;
      }
    }
    // navbar-box media query //
    @include responsive(mobile) {
      flex-direction: column;
      margin: 5px 0;
    }
  }

  .table-titles {
    @include flexCenter(row);
    justify-content: space-between;
    width: 80vw;
    margin-bottom: 10px;
    font-weight: $semibold;
    font-size: 15px;

    .learning-title {
      @include flexCenter(row);
      justify-content: flex-start;
      width: 30%;

      .down-icon {
        width: 15px;
        height: 15px;
        fill: $tertiary-color;
        margin-left: 5px;
      }
    }
    .pupils-title {
      width: 28%;
    }
    .whitespace-title {
      width: 15%;
      height: 10px;
    }
    // learnings-list-body media query //
    @include responsive(mobile) {
      display: none;
    }
  }

  // learnings-list-body media query //
  @include responsive(tablet) {
    height: 60vh;
  }

  @include responsive(mobile) {
    height: 83vh;
    width: 93%;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
